[Unit]
Description=Myst Discord Bot
After=network.target

[Service]
#Type=idle
Restart=on-failure
User=discord
ExecStart=/usr/bin/python3 -u /home/discord/Myst/main.py
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/discord/Myst

[Install]
WantedBy=multi-user.target